.theme {
  --black: rgb(176, 214, 185);
  --button-hover: rgb(65, 65, 65);
  --white: #1c1c1c;
  background-color: var(--white);
  color: var(--black);
  height: 100%;
}

.App {
  text-align: center;
}

.upgrade__buttonGroup {
  margin: 1rem;
}

.modal__contents {
text-align: center;
}

.upgrade__inputGroup {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.modal__formContents {
margin: 0 15rem;
}

.modal__title {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.modal__input {
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  border-radius: 0.4rem;
  width: 256px;
  resize: none;
}

.autosave {
  display: inline-block;
  padding: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  border-radius: 0.4rem;
}