.theme {
  --black: rgb(176, 214, 185);
  --button-hover: rgb(65, 65, 65);
  --white: #1c1c1c;
  background-color: var(--white);
  color: var(--black);
  height: 100%;
}

.App {
  text-align: center;
}
